<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidavanzado.herramienta_trastorno_habla">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Herramienta_Trastorno_Habla">
        <activity android:name=".Seleccion_obtencion_fonema"></activity>
        <activity android:name=".Obtencion_fonema" />
        <activity android:name=".Edit_palabras" />
        <activity android:name=".Opciones_editar_palabras" />
        <activity android:name=".Listar_palabras" />
        <activity android:name=".Opciones_Galeria_Anonymous" />
        <activity android:name=".Opciones_Galeria" />
        <activity android:name=".Galeria_integracion" />
        <activity android:name=".Listar_actividades_ejercitacion_anonymous" />
        <activity android:name=".Listar_actividades_fijacion_anonymous" />
        <activity android:name=".Listar_actividades_anonymous" />
        <activity android:name=".Load" />
        <activity android:name=".Game_memorama" />
        <activity android:name=".Opciones_memorama" />
        <activity android:name=".Listar_actividades_ejercitacion" />
        <activity android:name=".Game_rana" />
        <activity android:name=".Opciones_rana" />
        <activity android:name=".Listar_actividades_fijacion" />
        <activity android:name=".Listar_actividades" />
        <activity android:name=".editar.Editar_nota" />
        <activity android:name=".consultas.Consultar_nota" />
        <activity android:name=".Listar_notas" />
        <activity android:name=".Agregar_nota" />
        <activity android:name=".Restablecer" />
        <activity android:name=".editar.Edtiar_Registro" />
        <activity android:name=".Listarevaluacion" />
        <activity android:name=".editar.Editar_Evaluacion" />
        <activity android:name=".consultas.Consultar_Evaluacion" />
        <activity android:name=".Agregar_Evaluacion" />
        <activity android:name=".Agregar_Cita" />
        <activity android:name=".consultas.Consultar_Cita" />
        <activity android:name=".editar.Editar_Citas" />
        <activity android:name=".editar.Editar_Lenguaje" />
        <activity android:name=".editar.Editar_HistorialE" />
        <activity android:name=".editar.Editar_Habitos" />
        <activity android:name=".editar.Editar_EvolucionM" />
        <activity android:name=".editar.Editar_Desarrollo" />
        <activity android:name=".editar.Editar_DatosG" />
        <activity android:name=".editar.Editar_AntecedentesM" />
        <activity android:name=".consultas.Consultar_HistorialE" />
        <activity android:name=".consultas.Consultar_EvolucionM" />
        <activity android:name=".consultas.Consultar_Habitos" />
        <activity android:name=".consultas.Consultar_Lenguaje" />
        <activity android:name=".consultas.Consultar_DatosG" />
        <activity android:name=".consultas.Consultar_Desarrollo" />
        <activity android:name=".consultas.Consultar_AntecedentesM" />
        <activity android:name=".editar.Editar_tutor" />
        <activity android:name=".consultas.Consultar_tutor" />
        <activity android:name=".editar.Editar_paciente" />
        <activity android:name=".consultas.consultar_datos_paciente" />
        <activity android:name=".Calendario" />
        <activity android:name=".Listarcitas" />
        <activity android:name=".Listarpacientes" />
        <activity android:name=".CustomListView" />
        <activity android:name=".Historialclinico" />
        <activity android:name=".Paciente" />
        <activity android:name=".Registrarcita" />
        <activity android:name=".Evolucionmotriz" />
        <activity android:name=".Antecedentemedicos" />
        <activity android:name=".Lenguaje" />
        <activity android:name=".HistoriaEscolar" />
        <activity android:name=".Habitos" />
        <activity android:name=".Desarrollo" />
        <activity android:name=".DatosGenerales" />
        <activity android:name=".RegistroTutor" />
        <activity android:name=".RegistroPaciente" />
        <activity android:name=".SesionTerapeuta" />
        <activity android:name=".RegistrarseActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>